dist
po/**/
tmp
.pydevproject
.project
.settings
.tox
.vscode/
MANIFEST
**.patch
gtg.prof
__pycache__
.*.sw*
docs/user_manual_html/
docs/user_manual/C/index.cache


# Build Dirs
build
_build
/.local_build/
builddir/**/*
.flatpak-builder

# Glade Files
**/**.glade.h
**/**.ui.h
**/**.gladep
**/**.gladep.bak
**/**.ui~

# Flatpak bundles
flatpak/cache
flatpak/.flatpak-builder
flatpak/bundles

# src/ usually has development version of liblarch
src/

# Python virtual environments
venv*/
