Source: gtg
Section: gnome
Priority: optional
Maintainer: Luca Falavigna <dktrkranz@debian.org>
Uploaders: Python Applications Packaging Team <python-apps-team@lists.alioth.debian.org>, Bryce Harrington <bryce@canonical.com>, Luca Invernizzi <invernizzi.l@gmail.com>, Izidor Matušov <izidor.matusov@gmail.com>
Build-Depends: debhelper (>= 7.0.50)
Build-Depends-Indep: python-support, python (>= 2.5)
Standards-Version: 3.8.4
Homepage: http://gtg.fritalk.com/
Vcs-Svn: svn://svn.debian.org/python-apps/packages/gtg/trunk/
Vcs-Browser: http://svn.debian.org/viewsvn/python-apps/packages/gtg/trunk/

Package: gtg
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, python-gtk2 (>= 2.14), python-gnome2, python-glade2, python-dbus, python-xdg, python-configobj, python-liblarch (>= 0.2)
Description: a personal tasks and TODO-list items organizer for the GNOME desktop environment.
 Getting Things GNOME! (GTG) is a personal tasks and TODO-list items organizer for the GNOME desktop environment inspired by the Getting Things Done (GTD) methodology. GTG is designed with flexibility, adaptability, and ease of use in mind so it can be used as more than just GTD software.
 GTG is intended to help you track everything you need to do and need to know, from small tasks to large projects.
