[Desktop Entry]
Version=0.1
Name=Getting Things Gnome!
Icon=/usr/share/gtg/gtg.png
Comment=Personal organizer for the GNOME desktop environment.
Exec=/usr/bin/gtg %F
Terminal=false
Type=Application
Categories=GNOME;GTK;Office;
StartupNotify=false
Name[en_US]=Getting Things Gnome!
