recursive-include GTG *.glade
recursive-include GTG *.ui
recursive-include GTG *.gtg-plugin
recursive-include GTG *.png
recursive-include GTG *.svg
include gtg.desktop
include CHANGELOG
include README
include LICENSE
include AUTHORS
include org.gnome.GTG.service
recursive-include data/icons *.png
recursive-include data/icons *.svg
include doc/*.1
recursive-include GTG/plugins/export *
recursive-include po *.po
