recursive-include GTG *.glade
recursive-include GTG *.ui
recursive-include GTG *.gtg-plugin
include gtg.desktop
include CHANGELOG
include README
include LICENSE
include AUTHORS
recursive-include data/icons *.png
recursive-include data/icons *.svg
include doc/gtg.1
recursive-include GTG/plugins
recursive-include GTG/plugins/rtm_sync/pyrtm *.py
recursive-include GTG/plugins/export/export_templates/*.*
recursive-include locales *.po
