/* --------------------------------------------------------------------------------
 * MAIN WINDOW
 * --------------------------------------------------------------------------------
 */
.menu-disclose button {
    min-width: 16px;
}

.task-list {
    border-top: 1px solid rgb(213, 208, 204);
}

/* 
    We have to get move the padding into the boxes 
    so the background color of the rows reaches all
    the way to the edges
*/
.task-list row {
    padding: 0;
}

.task-list row > box {
    padding: 15px 16px;
} 

/* --------------------------------------------------------------------------------
 * ERROR HANDLER
 * --------------------------------------------------------------------------------
 */
.errorhandler textview.debug_text {
    font-size: 85%; /* Make the traceback text more compact in its scrolled view */
}

/* --------------------------------------------------------------------------------
 * PREFERENCES
 * --------------------------------------------------------------------------------
 */
.prefs_list {
    border: 1px solid alpha(currentColor, 0.2);
    border-radius: 3px;
    margin: 4px;
}

.prefs_list row {
    border-bottom: solid 1px alpha(currentColor, 0.1);
}

.dark .prefs_list {
    border-color: alpha(rgb(0, 0, 0), 0.4);
}

.dark .prefs_list row {
    border-bottom-color: alpha(rgb(0, 0, 0), 0.2);
}

.recurring-active image {
    color: rgb(52, 130, 224);
}

.backends-cont {
  padding: 12px;
}

/* --------------------------------------------------------------------------------
 * TEXT EDITOR
 * --------------------------------------------------------------------------------
 */
textview check {
	margin-right: 10px;
	margin-left: 25px;
}

.hidden {
  background: transparent;
  border: none;
  color: transparent;
  font-size: 0.001px;
  margin: 0;
  opacity: 0;
  padding: 0;
}

.icon {
    font-size: 36px;
}

.hide { opacity: 0.2; }

.color-pill {
    background: #999; 
    padding: 0; 
    min-height: 16px; 
    min-width: 16px; 
    border: none;
}

.arrow-only-expander {
  border-spacing: 0;
}

.arrow-only-expander indent {
  -gtk-icon-size: 0px;
}

.closed-task {
    opacity: 0.5;
}