/* --------------------------------------------------------------------------------
 * MAIN WINDOW
 * --------------------------------------------------------------------------------
 */
window {
  border-radius: 6px;
}

.menu-disclose button {
    min-width: 16px;
}

.dummy {
  background: transparent;
  border: none;
  color: transparent;
  font-size: 0.001px;
  margin: -100px;
  opacity: 0;
  padding: 0;
}

indent, expander{
    -gtk-icon-size: 16px;
}

.task-list row {
    padding: 0px;
}

.task-list .task-box {
    min-height: 48px;
    padding-left: 12px;
    padding-right: 12px;
}

/* --------------------------------------------------------------------------------
 * ERROR HANDLER
 * --------------------------------------------------------------------------------
 */
.errorhandler textview.debug_text {
    font-size: 85%; /* Make the traceback text more compact in its scrolled view */
}

/* --------------------------------------------------------------------------------
 * PREFERENCES
 * --------------------------------------------------------------------------------
 */
.recurring-active image {
    color: rgb(52, 130, 224);
}

.backends-cont {
  padding: 12px;
}

/* --------------------------------------------------------------------------------
 * TEXT EDITOR
 * --------------------------------------------------------------------------------
 */
textview check {
	margin-right: 10px;
	margin-left: 25px;
}

.hidden {
  background: transparent;
  border: none;
  color: transparent;
  font-size: 0.001px;
  margin: 0;
  opacity: 0;
  padding: 0;
}

.icon {
    font-size: 36px;
}

.hide { opacity: 0.2; }

.color-pill {
    background: #999;
    padding: 0;
    min-height: 16px;
    min-width: 16px;
    border: none;
}

.arrow-only-expander {
  border-spacing: 0;
}

.closed-task {
    opacity: 0.5;
}
