/* --------------------------------------------------------------------------------
 * MAIN WINDOW
 * --------------------------------------------------------------------------------
 */
#main_menu GtkModelButton,
#defer_menu GtkModelButton {
    padding: 10px 5px;
}

.menu-disclose {
    min-width: 16px;
}

/* --------------------------------------------------------------------------------
 * PREFERENCES
 * --------------------------------------------------------------------------------
 */
.prefs_list {
    border: 1px solid alpha(currentColor, 0.2);
    border-radius: 3px;
    margin: 4px;
}

.prefs_list row {
    border-bottom: solid 1px alpha(currentColor, 0.1);
}

.dark .prefs_list {
    border-color: alpha(rgb(0, 0, 0), 0.4);
}

.dark .prefs_list row {
    border-bottom-color: alpha(rgb(0, 0, 0), 0.2);
}

.recurring-active {
		color: rgb(52, 130, 224);
}
