/* --------------------------------------------------------------------------------
 * MAIN WINDOW
 * --------------------------------------------------------------------------------
 */
#main_menu GtkModelButton,
#defer_menu GtkModelButton {
    padding: 10px 5px;
}

.menu-disclose {
    min-width: 16px;
}

/* --------------------------------------------------------------------------------
 * PREFERENCES
 * --------------------------------------------------------------------------------
 */
.prefs_list {
    border: 1px solid alpha(currentColor, 0.2);
    border-radius: 3px;
    margin: 4px;
}

.prefs_list row {
    border-bottom: solid 1px alpha(currentColor, 0.1);
}
