Source: gtg
Section: x11
Priority: optional
Maintainer: Lionel Dricot <ploum@ploum.net>
Build-Depends: debhelper (>= 7), python (>= 2.5), python-central 
Standards-Version: 3.8.0
Homepage: http://gtg.fritalk.com

Package: gtg
Architecture: all
Depends: python (>= 2.5), python (<< 2.6), python-gtk2, python-glade2, python-xdg, python-gobject, python-configobj
Description: Getting Thing Gnome, a todo/notes applications for GNOME
 Getting Things Gnome is a Gnome application inspired by the Getting Things Done (GTD) 
 theory but built with flexibility and simplicity in mind. It supports hierachical 
 tasks, tags, notes, ...
