# Run unit tests script

name: Unit Tests

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.10
      uses: actions/setup-python@v2
      with:
        python-version: "3.10"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        sudo apt-get update
        sudo apt install -y libgirepository1.0-dev gir1.2-gtk-4.0 libgtksourceview-5-dev
        pip install --user -e git+https://github.com/getting-things-gnome/liblarch.git#egg=liblarch
        pip install --user pytest pycairo PyGObject caldav lxml
    - name: Run unit tests with Pytest
      run: |
        ./run-tests
